
@import "bootstrap_vars.less";

#header {
  display: block;
  height: @navbar-height;
  line-height: @navbar-height;
  margin: 0px;
  padding: 0px;
  background-color: @navbar-default-bg;
  vertical-align: middle;

  img#logo {
    width: @navbar-height - 8px;
    height: auto;
  }

  #logo-group {
    h4 {
      color: @navbar-default-color;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 8px;
      padding: 0px;
      display: inline-block;
    }
  }
}