#left-panel {
  width: 220px;
  min-height: 1024px;
  background-color: #555555;
  position: absolute;
  color: #eeeeee;
  /*
  nav ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;

    li a {
      display: block;
      padding: 10px 10px 10px 11px;
      font-size: 14px;
      color: @gray-light;
      font-weight: 400;
      text-decoration: none!important;
    }
  }
  a:hover {
    color: @gray-lighter;
  }
  */
}
#left-panel #login-info {
  line-height: 39px;
}
#left-panel #login-info img {
  width: 30px;
  height: 30px;
}
#left-panel #login-info > span {
  padding: 0 10px;
}
