
@import "variable.less";

#left-panel {
  width: @leftPanelWidth;
  min-height: @leftPanelMinHeight;
  background-color: @leftPanelBackgroundColor;
  position: absolute;
  color: @leftPanelColor;
  font-size: @leftPanelFontSize;

  #login-info {
    line-height: 39px;

    img {
      width: 30px;
      height: 30px;
    }

    >span {
      padding: 0 10px;
    }
  }
}